


body {

    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    min-height: 100%;
    
  
}

.header{
    
    height: 70px;
    background-color: #ee1010;
    display: flex;
    align-items: center;
    
   
}
header h3{
    margin: 0;
    padding: 0 0 0 10px;
}

main{
    margin: 0 10px;

}



/* headline input filed */

.headlines-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headlines-input-btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.headlines-input-container h1 {
    max-width: 250px;
    text-align: center;
}

.headlines-input-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.headlines-input-form input{
    height: 25px;
    background-color: #e6e6e6;
    border-radius: 10px;
    border: none;
    padding: 0 20px 0 20px;
    font-size: 1rem;
}

.headlines-input-form input:focus{
    background-color: #ffffff;
}

.headlines-input-form  button{
    height: 40px;
    border-radius: 10px;
    background-color: #ee1010 ;
    color: #ffffff;
    font-size: 1rem;
    max-width: 300px;
    cursor: pointer;
}


/* results container ################################*/ 

.headlines-results-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 50px 10px 50px;
}

.results-box{
    
    width: 500px;
    height: 550px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2%;
    
}

.results-box:hover{
    box-shadow: 2.5px 2.5px 2.5px 2.5px #e5e2e2;
    background-color: #faf9f9;
   
}

.results-box p{
    font-family: 'DM Sans', sans-serif;
    
}

.image-container{
    
    display: flex;
    justify-content: center;
}


.container-img{
    width: 100%;
    height: 300px;
    border-radius: 2%;
}

.container-meta-infos {
    
    display: flex;
    justify-content: space-evenly;
    
}
.container-meta-infos p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75rem;
}

.results-box-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

.results-box-link:hover{
    text-decoration: underline;
}

/* Radio Buttons input filter for headlines  */

.radio-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.choose_category, .choose_country {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
  }
  
  .choose_category li, .choose_country li {
    float: left;
    margin: 0 2.5px 2.5px 2.5px;
    width: 120px;
    height: 25px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    padding: 0 0 10px 0;
    ;;
    
  }
  
  .choose_category label, .choose_country label,
  .choose_category input, .choose_country input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .choose_category input[type="radio"], .choose_country input[type="radio"]{
    opacity: 0.01;
    z-index: 100;
  }

  .choose_category li:hover, .choose_country li:hover  {
    background: #ee1010;
  }
  
  .choose_category input[type="radio"]:checked+label,
  .Checked+label {
    background: rgb(164, 164, 164);
  }

  .choose_country input[type="radio"]:checked+label{
    background: rgb(164, 164, 164);
  }
  
  .choose_category label, .choose_country label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    border-radius: 5px;
    
  }

  /* ######################################################## */
